
<script src="http://malsup.github.com/jquery.form.js"></script> 

<form method="post" id="qiniu_uploader" action="http://up.qiniu.com/" enctype="multipart/form-data">
  <input name="token" type="hidden" value="<%= @upload_token %>">
  <input name="x:account_id" type="hidden" value="<%= current_account.id %>">
  <input name="x:timestamp" type="hidden" value="<%= @now_time %>">
  <input name="x:sonkwo_token" type="hidden" value="<%= @sonkwo_token %>">
  <input name="file" type="file" />
  <input name="submit" onclick="ajax_upload(); return false;" type="submit" value="submit">
</form>
<br><br>
<div id="response_message">按submit提交<div>

<!----
<%= qiniu_uploader_form callback_url: $callback_url,
  bucket:        'shxsonkwo',
  id:            "photograph-uploader",
  key:           "#{Date.today.strftime('%Y/%m')}/{timestamp}-{unique-id}-#{SecureRandom.hex}-{filename}",
  custom_fields: {aaa:1,bbb:2},
  progress_bar_id: 'progress-bar',
  drop_paste_zone_id: 'dropzone' do %>

  <div class="bars" id="progress-bar">
    <%= file_field_tag :file, multiple: true, accept: "image/gif, image/jpeg" %> You can also drag and drop files here
  </div>
<% end %>
-->